@{
    ViewBag.Title = "Materias";
}

<h2>Nueva Materia</h2>
<form action="@Url.Content("~/Materias/Create")" method="post">
    <div class="mb-3">
        <label for="txtMateria" class="form-label">Nombre De La Materia</label>
        <input type="text" class="form-control" id="txtMateria" name="MTNombre">
        <div id="emailHelp" class="form-text"></div>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

