@using SistemaNotasMVC.Models
@model ProfesorModel
@{
    ViewBag.Title = "Profesores";
}

<h2>Profesores</h2>
<a href="~/Profesor/Create" class="btn btn-primary">Nuevo </a>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col" colspan="2">Opciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Profesores)
        {
            <tr>
                <td>@item.PFId</td>
                <td>@item.PFNombre</td>
                <td>@item.PFDocumento</td>

                <td width="100px"> <a href="/Profesor/Edit/@item.PFId" class="btn btn-primary">Editar </a> </td>
                <td width="100px"><a href="/Profesor/Delete/@item.PFId" class="btn btn-danger">Eliminar </a></td>
            </tr>
        }
    </tbody>
</table>
